.features {
  grid-column: center-start / center-end;
  margin: 15rem 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 6rem;
  align-items: start;
}

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 3rem;
  row-gap: 1.5rem;
  box-shadow: 0 1rem 2rem rgba($color-grey-dark-2, 0.02);
  padding: 1rem;

  &__icon {
    height: 4.5rem;
    width: 4.5rem;
    fill: $color-primary;
    // stroke: $color-primary;
    grid-row: 1 / span 2;

    transform: translateY(-1rem);
  }
  &__text {
    font-size: 1.4rem;
  }
}
