.header {
  background-color: $color-grey-dark-1;
  grid-column: full-start / col-end 6;

  background-image: linear-gradient(rgba($color-secondary, 0.7)),
    url(../img/hero.jpeg);
  background-size: cover;
  background-position: center;
  padding-top: 3rem;
  padding-left: 4rem;

  display: grid;
  grid-template-rows: 1fr max-content minmax(6rem, min-content) 1fr;
  grid-template-columns: minmax(min-content, max-content);
  gap: 1.5rem;
  justify-content: center;

  @media only screen and (max-width: $bp-medium) {
    grid-column: 1/-1;
  }

  &__logo {
    height: 3rem;
    justify-self: center;
  }
  &__btn {
    align-self: start;
    justify-self: start;
  }
  &__seanon-text {
    color: $color-grey-light-1;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    gap: 1.5rem;
    align-items: center;
    font-size: 1.5rem;
    margin: 5rem 0;

    &::before,
    &::after {
      content: "";
      height: 0.1rem;
      background-color: currentColor;
    }
  }
  &__seanon-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin-bottom: 5rem;
    img {
      justify-self: center;
      max-height: 2.5rem;
      max-width: 100%;
      filter: brightness(0.8);
    }
  }
}
