.realtors {
  background-color: $color-secondary;
  grid-column: col-end 6 / full-end;
  color: $color-grey-light-1;

  padding: 3rem;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;

  @media only screen and (max-width: $bp-medium) {
    grid-column: 1/-1;
  }

  &__list {
    display: grid;
    grid-template-columns: min-content max-content;
    column-gap: 3rem;
    row-gap: 7vh;

    @media only screen and (max-width: $bp-medium) {
      grid-template-columns: repeat(3, min-content max-content);
      margin-top: 3rem;
      column-gap: 2rem;
    }

    @media only screen and (max-width: $bp-small) {
      grid-template-columns: min-content max-content;
    }
  }
  &__detaile {
    justify-content: center;
  }
  &__img {
    height: 7rem;

    border-radius: 50%;
    display: block;
  }
  &__sold {
    color: $color-grey-dark-2;
    margin-top: 0.3rem;
    font-size: 1.2rem;
    text-transform: uppercase;
  }
}
